<h1>PDF Voucher Generator</h1>
<ul>
    <li><%= link_to "Download single voucher", voucher_path(1, :format=>:pdf) %></li>
    <li><%= link_to "Download multiple vouchers", vouchers_path(:format=>:pdf) %></li>
</ul>